*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1280px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}


/* INICIO DO CABEÇALHO */
header{
    
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    justify-items: center;

}



.menu-principal a{
    padding-left: 20px;
    align-self: center;
    
    
}


nav button{
    margin-left: 16px;
    width: 190px;
    height: 40px;
    color: #ffffff;
    background-color: #FF5C5C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    padding: 8px;
}

nav a {
    text-decoration: none;
    margin-left: 10px;
    color: black;
     
}

a:hover{
    color: #FF5C5C;
}

.botao-primario:hover{
    background-color: #c10909;
}

nav img{
    width: 16px;
    padding-left: 16px;
    color: #FF5C5C;
    cursor: pointer;
}

.botao-primario{
    width: 190px;
    height: 40px;
    color: #ffffff;
    background-color: #FF5C5C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    padding: 8px;
}
/* FIM DO CABEÇALHO */

/* INICIO DO CONTEÚDO PRINCIPAL 1° SEÇÃO*/

#topo{  
    height: 90vh;    
    display: flex;
    flex-direction: column;

    background-repeat: no-repeat;
    background-image: url(./img/driver.svg);
    background-position: left;
    background-size: 40vw;
    align-items: flex-end;
    justify-content: center;
    
    
}
.texto{
    
    display: block;
    margin-left: 4rem;
    
    

    
}
.texto h2{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #FF5C5C;
    
}

.texto p {
    font-size: 24px;
    line-height: 32px;
    color: black;
    text-align: justify;
    
}

/* FIM DA PRIMEIRA SEÇÃO - CONTEÚDO PRINCIPAL */

/* INICIO DA SEGUNDA SEÇÃO */

#segunda-secao{
    height: 30vh;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    background-image: url(./img/background.png);
    background-position: top;
    background-repeat: repeat-x;  
    
}

#segunda-secao article{
    margin-bottom: 40px;
}

#segunda-secao h3{
    font-size: 18px;
    margin-bottom: 16px;
}

#segunda-secao a{
    text-decoration: none;
    color: #FF5C5C;

}

/* FIM DA SEGUNDA SEÇÃO */

/* INICIO DA TERCEIRA SEÇÃO */


#secao-3 {
    text-align: justify;
    margin-top: 40px;
    margin-left: 4rem;
    
}

#secao-3 h2{
    margin-bottom: 24px;
    color: #FF5C5C;
}

#secao-3 p{
    line-height: 24px;
    text-align: justify;
    margin-bottom: 16px;
    color: black;
}

/* FIM DA TERCEIRA SEÇÃO */

/* INICIO DA SEÇÃO VEICULOS */

#veiculos{
    margin-top: 80px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    background-image: url(./img/backgroun1.png);
    background-repeat: repeat-x;
    background-position: bottom;
    
    
}

.carros{
    width: 20vw;
}

#veiculos button{ 
    grid-column: 2 / 3;   
}

.botao-secundario{
    color: #FF5C5C;
    border: 1px solid #FF5C5C;
    width: 190px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    
}

.botao-secundario:hover{
    border: 1px solid #c10909;
    color: #c10909;
}

.frota{
    grid-column: 1 / 4;
    text-align: center;
    
}

.carros{
    display: flex;
    justify-content: space-around;
    grid-column: 1 / 4;
}


h2{
    margin-bottom: 24px;
    color: #FF5C5C;
    
}


/* FIM DA SEÇÃO VEICULOS */

/* INICIO DO FOOTER */

footer{
    background-color: #FF5C5C;
    display: grid;
    height: 20vh;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    
}

p{
    color: #ffffff;
    text-align: center;
}

h5{
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;
}

.copy{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-items: center;
}

.redes-sociais{
    grid-column: 3 / 4;
    justify-self: center;

}

footer img{
    width: 30px;
}    
/* FIM DO FOOTER*/

/* INICIO DA RESPONSIVIDADE */

   @media screen and (max-width:375px){
    
    body{
        width: 100vw;
    }

 /* CABEÇALHO */

    .responsive{
           height: 30vh;
           display: flex;
           flex-direction: column;
           align-items: space-around;
           justify-items: center;
           text-align: center;
           
           

       }

       .logomarca{
           margin-left: 2em;
       }
       .menu-principal{
           font-size: 0.6em;
           padding-left: 0.5em;
           display: flex;
           justify-content: center;
           text-align: center;

       }

       .menu-secundario{
           font-size: 0.8em;
       }

    /* CONTEUDO PRINCIPAL */

    #topo{  
        background-image: none;
        margin-right: 3rem;   
    }

         
     .botao-primario{
         width: 10rem;
         font-size: 1em;
     }   
    
        
    }
    .texto h2{
        font-size: 1.2em;
        
        
    }
    
    .texto p {
        font-size: 0.9em;
        line-height: 1.6em;
               
    }

    /* SEGUNDA SEÇÃO */
    #segunda-secao h3{
        font-size: 1rem;
        margin-bottom: 16px;
    }


    /* CONTEÚDO SECUNDARIO */
    #secao-3{
        margin-right: 5rem;
    }

    #secao-3 h2{
        margin-bottom: 16Px;
        color: #FF5C5C;
        font-size: 1rem;
    }
    
    #secao-3 p{
        font-size: 0.8rem;
        line-height: 24px;
        text-align: justify;
        margin-bottom: 16px;
        color: black;
    }

    /* VEICULOS - FROTA */

    #veiculos h2{
        font-size: 1rem;
    }

    #veiculos img{
        width: 40vw;
    }

 
        
        footer{
            align-content: flex-end;
        }

        .endereco{
            font-size: 0.8rem;
        }
        .copy{
            font-size: 0.8rem;
        }

         .redes-sociais{
            grid-column: 3 / 4;
            justify-self: flex-end;
            margin-left: 2px;
         }   
        .redes-sociais img{
            width: 16px;
            
        }
    /*FOOTER */
   }
