/* NIVEL 1 */

#pond {
    display: flex;
  justify-content:flex-end;
  }

/* NIVEL 2 */
  #pond {
    display: flex;
  justify-content:center;
  }

/* NIVEL 3 */
  #pond {
    display: flex;
  justify-content:space-around;
  }

  /* NIVEL 4 */
  #pond {
    display: flex;
  justify-content: space-between;
  }

  /* NIVEL 5 */
  #pond {
    display: flex;
  align-items:flex-end;
  }

  /* NIVEL 6 */
  #pond {
    display: flex;
  justify-content: center;
  align-items: center;
  }

  /* NIVEL 7 */
  #pond {
    display: flex;
  justify-content:space-around;
  align-items:flex-end;
  }

  /* NIVEL 8 */
  #pond {
    display: flex;
  flex-direction:row-reverse;
  }

  /* NIVEL 9 */
  #pond {
    display: flex;
  flex-direction:column;
  }

  /* NIVEL 10 */
  #pond {
    display: flex;
  flex-direction:row-reverse;
  justify-content: flex-end;
  }

  /* NIVEL 11 */
  #pond {
    display: flex;
  flex-direction:column;
  justify-content: flex-end;
  }

  /* NIVEL 12 */
  #pond {
    display: flex;
  flex-direction:column-reverse;
  justify-content:space-between;
  }

/* NIVEL 13 */
#pond {
    display: flex;
  flex-direction:row-reverse;
  justify-content: center;
  align-items: flex-end;
  }

/* NIVEL 14  */
#pond {
  display: flex;
}

.yellow {
order:3;
}

/* NIVEL 15 */
#pond {
  display: flex;
}

.red {
order:-1;
}

/* NIVEL 16 */
#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
align-self: flex-end;
}

/* NIVEL 17 */
#pond {
  display: flex;
  align-items: flex-start;
}

.yellow {
order:4;
align-self:flex-end;
}

/* NIVEL 18 */
#pond {
  display: flex;
flex-wrap:wrap;
}

/* NIVEL 19 */
#pond {
  display: flex;
flex-direction: column;
flex-wrap: wrap;
}

/* NIVEL 20 */
#pond {
  display: flex;
flex-flow: column wrap
}

/* NIVEL 21 */
#pond {
  display: flex;
  flex-wrap: wrap;
align-content:flex-start;
}

/* NIVEL 22 */
#pond {
  display: flex;
  flex-wrap: wrap;
align-content: flex-end;
}

/* NIVEL 23 */
#pond {
  display: flex;
  flex-wrap: wrap;
flex-direction: column-reverse;
align-content:center;
}

/* NIVEL 24 */
#pond {
  display: flex;
flex-flow: column-reverse wrap-reverse;
justify-content: center;
align-content:space-between;
}

